.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    background-color: white;
}

.conteudoCarouselImg {
    margin-top: 85px;
    display: flex;
    width: 100%;
}

.conteudoCarouselProd {
    display: flex;
    width: 80%;
}

.itens-nav {
    color: black;
}

.img-compra{
    width: 70px;
    height: 70px;
}

.buttonControl{
    width: 40px;
}
